
#createPopup{
 z-index:999998; top:50%; left:50%;  position:fixed; float:left; width:0px; background:url("../images/thelightbox_bg.png");  height:0px;
}

a.wpf_ref{position:absolute;bottom:10px;left:10px;color:#000;font-weight:bold;font-size:11px;background:#fff}

.cf-close{
    background: url("../images/close.png") no-repeat scroll 0 0 transparent;
    height: 40px;
    margin-right: -20px;
    margin-top: -23px;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
}